@color-hr:  var(--secondary-color);

@color-chatlist-hr: var(--secondary-color);
@color-chatlist-bg: var(--primary-color);

@color-chat-selected: var(--primary-color);
@color-chat-hovered: var(--primary-color);

@color-message-odd: #f5f7f9;